.App {
  text-align: center;
}
body{
  background: linear-gradient(180deg, #02004B 0%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: normal;
  background-repeat: no-repeat;
}
#sub-tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #141342;
  min-height: 15vh;
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{
  margin: 10px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#tittle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#site-name , h2{
  margin: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*For cards  */
.card-container {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 321px;
  height: 302px;
  color: white;
}
